# OS
.DS_Store
Thumbs.db
*.swp
*.swo
*~
.Directory

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store/

# Env
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
*.log
/tmp/
